body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;

}

#sidebar {
    grid-area: 1/1/3/2;
    padding-left: 1.5rem;
    padding-top: 1rem;
    background-color: #0284c7;
    color: white;
}

#sidebar > div {
    height: 2.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.large-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.icon {
    margin-left: 0.9rem;
    width: 1.3rem;
    height: 1.3rem;
}

#dashboard {
    margin-bottom: 3rem;
}

#dashboard-communities {
    margin-bottom: 3rem;
}

#dashboard > p {
    font-size: 1.5rem;
}

#header {
    background-color: white;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding: 0.5rem 2rem;
    box-shadow: 0 0.4rem 0.2rem -0.2rem rgba(0, 0, 0, 0.185);
    z-index: 0;
}

#top-section {
    display: grid;
    align-items: center;
    grid-template-columns: 0.4fr 5fr 0.4fr 0.4fr 0.8fr;
}


#bottom-section {
    display: grid;
    gap: 1rem;
    align-items: center;
    padding: 0 3rem;
    grid-template-columns: 0.5fr 5fr 1fr 1fr 1fr;
}

#small-picture {
    width: 3rem;
    height: 3rem;
    background-color: rgb(241, 217, 79);
}

#large-picture {
    width: 4rem;
    height: 4rem;
    font-size: 1.3rem;
    background-color: rgb(241, 217, 79);
}

.button {
    background-color:#0195df;
    border: none;
    border-radius: 1rem;
    width: 5rem;
    height: 2rem;
    color: white;
    font-weight: bold;
}

.profile-picture {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color:white;
    box-shadow: 0 0 0.2rem #8ccefa;
    border-radius: 50%;
    overflow: hidden;
}

#search-bar {
    background-color: #e0f2fe;
    width: 35rem;
    height: 1.5rem;
    border: none;
    border-radius: 1rem;
}

#greetings * {
    margin: 0;
}

img {
    width:inherit;
    height:inherit;
}

#main-content {
    display: grid;
    background-color: #e0f2fe;
    grid-template-columns: 3fr 1fr;
    padding: 0 2rem;
}

#main-content h3 {
    margin-bottom: 0.5rem;
}

#projects {
    grid-area: 1/1/3/2;
}

#projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    width: 20rem;
    height: 9rem;
    border-left: 0.5rem solid #025883;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}

.project > * {
    margin: 0;
}

.project > p {
    opacity: 0.6;
    font-size: 0.9rem;
}

.project > :last-child {
    display: grid;
    padding-left: 10rem;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
}

#announcement-card {
    font-size: 0.9rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

#announcement-card > * {
    margin: 0.1rem;
}

#announcement-card > hr {
    margin: 0.8rem 0;
    opacity: 0.5;
}

#announcement-card > p {
    font-size: 0.85rem;
    opacity: 0.6;
}

#trending-card {
    padding: 1.5rem 2rem;
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem grey;

}

.trend {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    vertical-align: middle;
}

.trend > :last-child > *{
    margin: 0;
    vertical-align: middle;
}

.trend > :last-child > p {
    opacity: 0.7;
    font-size: 0.9rem;
}

.trend > :first-child {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.8rem;
}

#tegan {
    background-color: #0284c7;
}

#morgan {
    background-color: rgb(241, 217, 79);
}

#kendall {
    background-color: violet;
}

#alex {
    background-color: seagreen;
}
