body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;

}

#sidebar {
    grid-area: 1/1/3/2;
    padding-left: 2rem;
    padding-top: 1rem;
    background-color: #0284c7;
    color: white;
}

#sidebar > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.large-icon {
    width: 3rem;
    height: 3rem;
}

.icon {
    margin-left: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
}

#dashboard > p {
    font-size: 1.6rem;
}

#header {
    background-color: white;
}

#main-content {
    display: grid;
    background-color: #e0f2fe;
    grid-template-columns: 3fr 1fr;
}

#projects {
    grid-area: 1/1/3/2;
}

#announcements {

}

#trending {

}